.todo {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  column-gap: 0.5rem;
  padding: 1rem;
  background-color: var(--color-back-secondary);
  border-radius: var(--border-radius);

  &__checkbox {
    width: 1rem;
    height: 1rem;
    margin: 0;
    accent-color: var(--color-primary);
  }

  &__title {
    justify-self: start;
    line-height: 1;
  }

  &__controls {
    display: flex;
    row-gap: 0.5rem;
  }

  &__button {
    height: auto;
    padding: 0.25rem;
    background-color: var(--color-back);

    &--remove {
      color: var(--color-alert);
    }
  }
}
