<header class="header container">
  <p class="header__title">To-Do App</p>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link"
           routerLink=""
           routerLinkActive="header__link--active"
           [routerLinkActiveOptions]="{ exact: true }"
           ariaCurrentWhenActive="page">
          Home
        </a>
      </li>
      <li class="header__item">
        <a class="header__link"
           routerLink="about"
           routerLinkActive="header__link--active"
           ariaCurrentWhenActive="page">
          About
        </a>
      </li>
    </ul>
  </nav>
</header>
