.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: var(--border-radius);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;

  &__icon {
    fill: currentColor;
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}
