.main {
  padding-block: 1.5rem;

  &__title {
    margin-block: 0 1rem;
    font-size: 2rem;
  }

  &__count {
    font-style: italic;
    font-weight: normal;
    font-size: 1rem;
    vertical-align: super;
    color: var(--color-text-secondary);
  }
  &__list {
    margin-block-start: 1rem;
  }
}
