:root {
  color-scheme: dark;
  --color-white: #ffffff;
  --color-black: #121212;

  --color-primary: #8687e7;
  --color-alert: #ff8080;

  --color-text: var(--color-white);
  --color-text-secondary: #afafaf;

  --color-back: var(--color-black);
  --color-back-secondary: #363636;

  --color-border: #979797;
}
